<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    body {
    font-family: "Lato", sans-serif;
}

.alert{
    position: static;
}

.main-head{
    height: 150px;
    background: #FFF;

}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}
    .fakeimg {
        height: 200px;
        background: #aaa;
    }

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 5%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 70%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
    </style>
</head>
<body>
<%# ----- add these lines here: ----- %>
<h1>Log In</h1>
<%= form_for :loginn do |f| %>
<!--  <div>-->
    <%#= f.label :email %>
    <%#= f.text_field :email, autofocus: true %>
<!--  </div>-->
<!--  <div>-->
    <%#= f.label :password %>
    <%#= f.password_field :password %>
<!--  </div>-->
<!--  <div>-->
    <%#= f.submit "Log In" %>
<!--  </div>-->

<%
  # @arg = :div
  # tag.send @arg, class: 'etc' do
  #   # 'some content'
  # end
%>



<!--test-->
<div class="sidenav">
         <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
           <%
             # @arg = :h2
             # tag.send @arg, class: 'login-main-text' do
             #   Application content_tag(:br)
             #   Login Page
             # end
           %>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
<!--                     <label>User Name</label>-->
<!--                     <input type="text" class="form-control" placeholder="User Name">-->
                    <%= f.label :'Username' %>
                    <%= f.text_field :email, autofocus: true , class:'form-control', type:'text'%>
<!--                    <input type="text" class="form-control" name="email" >-->
                  </div>
                  <div class="form-group">
<!--                     <label>Password</label>-->
<!--                     <input type="password" class="form-control" placeholder="Password">-->
                    <%= f.label :Password %>
                    <%= f.password_field :password, class:'form-control'%>
                  </div>
<!--                  <button type="submit" class="btn btn-black">Login</button>-->
                 <%= f.submit "Log In" ,class:'btn btn-black'%>
                 <br/>
                 You haven't had an account yet?
                 </span>
                 <%= link_to 'Sign up', new_user_path %>
                 <span> now</span>
               </form>
            </div>
         </div>
      </div>
  <!--test-->

<% end %>

<%# ----- end of added lines ----- %>
</body>
</html>