<%# ----- add these lines here: ----- %>
<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <!--test-->
  <div class="sidenav">
    <div class="login-main-text">
      <h2>Application<br> Register Page</h2>
      <p>Login or register from here to access.</p>
    </div>
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="register-form">
        <form>
          <div class="form-group">
            <%= f.label :'User Name' %>
            <%= f.text_field :name, autofocus: true, class: 'form-control', type: 'text'%>
          </div>
          <div class="form-group">
            <%= f.label :'Email' %>
            <%= f.text_field :email, autofocus: true, class: 'form-control', type: 'text' %>
          </div>
          <div class="form-group">
            <%= f.label :Password %>
            <%= f.password_field :password, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :'Password Confirmation' %>
            <%= f.password_field :password_confirmation, class: 'form-control'%>
          </div>
          <%= f.submit "Sign Up", class: 'btn btn-black' %>
          <br/>
          <span>
            If you've had an account,
          </span>
          <%= link_to 'Log In', login_path %>
          <span> now</span>
        </form>
      </div>
    </div>
  </div>
  <!--test-->


<% end %>
<%# ----- end of added lines ----- %>