<%
=begin%>
 @extends('views_posts.posts_all')
@section('home_posts_content') 
<%
=end%>
	<div class="top-du-an">
		<ul>
			<li>TRANG CHỦ</li>
			<li><i class="fas fa-chevron-right"></i></li>
			<li>THÔNG TIN <%=@post.title%></li>
		</ul>
	</div>
	<div class="bottom-du-an">
		<div class="block-du-an">
			<div class="title-block-du-an">
				<h3>Dịch Vụ - <%=@post.title%></h3>
			</div>
			<div class="content-block-du-an">
				<%
=begin%>
 @if($post_project->post_project_status == 1) 
<%
=end%>
                
					<img class="embed-responsive" alt="IMG Description" src="/uploads/PostsNewsImg/<%=@post.img%>">
					<%=raw @post.content%>
					
                
				<%
                
=begin%>
 @endif 
<%
=end%>
			</div>
		</div>
		<div class="right-hien-thi">
			<div class="right-danh-muc">
				<h2 class="i-title">Danh mục</h2>
				<ul>
					<li><a href="{{URL::TO('/gioi-thieu')}}" title="">Giới thiệu</a>
					</li>
					<li><a href="{{URL::TO('/kinh-nghiem-nang-luc')}}" title="">Kinh nghiệm năng lực</a>
					</li>
					<li><a href="{{URL::TO('/danh-sach-dich-vu')}}" title="">Dịch vụ</a>
					</li>
					<li><a href="{{URL::TO('/danh-sach-dich-vu')}}" title="">Dịch Vụ</a>
					</li>
					<li><a href="{{URL::TO('/home')}}#Project" title="">Dự án</a>
					</li>
				</ul>
			</div>

			<div class="right-danh-muc">
				<h2 class="i-title">Tin Tức</h2>
				<% @posts.each do |post| %>
				<div class="rg-post clearfix">
					<a href="#" class="img">
						<img class="embed-responsive" alt="IMG Description" src="/uploads/PostsNewsImg/<%=post.img%>">
					</a>
					<h3 class="title">
						<a href="/dich-vu/<%= post.slug %>"><%= post.title %></a>
					</h3>
				</div>
				<% end %>
			</div>	
		</div>
	</div>